.hautdroite{
margin-right: 714px;
margin-left: 569px;
border-style: solid;
border-radius: 12px;

}

h1{
text-align: center;
margin-left: 10%;
margin-right: 63%;
font-size: 52px;
}

.millieudroite{
margin-right: 708px;
margin-left: 606px;
border-style: solid;
border-radius: 20px;
}

.millieudroite li{
	display: inline-block;
margin-right: 30px;
}
p{
	width: 400px;
}

.piscines img{
margin-left: 468px;
margin-top: 66px;
width: 400px;
}

.piscines h2{
    margin-right: 705px;
    margin-left: 469px;
    margin-top: 54px;
    margin-bottom: -60px;
}


.piscines p{
width: 400px;
margin-left: 465px;
}

.SPA img{
width: 400px;
}

.SPA h2{
    margin-top: -510px;
margin-left: 3px;
margin-right: 1150px;
}
}

.SPA p{
width: 400px;
margin-left: 10px;
}
.info{
	height: 250px;
}

.info li{
display: inline-block;
margin-left: 219px;
margin-right: 7px;
margin-bottom: 100px;
margin-top: 119px;
}

.bas li{
display: inline-block;
margin-left: 220px;
margin-right: -20px;
margin-bottom: 50px;
}


.infoclient{
margin-left: 342px;
margin-right: 1024px;
}

.infoclien2 ul{

}

.infoclient1{
margin-left: 916px;
margin-top: -65px;
}

.basbas{

}

.haut{
	display: inline-block;
	margin: 10px;
}
.logo{
position: absolute;	
}

body{
	background-color: #77ABD6;
}
h6{
	margin-left: 1500px;
}
footer{
	background-image:url(fondpiscines.jpg)
	text-decoration-color: red;
	width: 500px;
}
